<!DOCTYPE html>
<html>
<head>
  <title>Angie's Code Blog</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
</head>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="main_navigation" class="clearfix">
  <%= link_to "Angie Gardi", root_path, class: "name" %>
  <nav>
    <%= link_to "Articles", posts_path %>
    <a href="#">Projects</a>
    <a href="contact.html">Contact</a>   
  </nav>
</header>

<%= yield %>

<footer id="main_footer">
  <p class="copyright">
   &copy; 2016 Angie Gardi 
  </p>
  <nav>
    <a href="http://twitter.com/strongshape" target="_blank"><i class="fa fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/in/angiegardi" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="http://github.com/techieRD" target="_blank"><i class="fa fa-github-square"></i></a>
  </nav>
</footer>

</body>
</html>
